{% extends 'base.html.twig' %}

{% block title %}Portefeuille{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="mt-4 mb-4">Cours Actuel</h1>
        <table id="admin" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <th>Bitcoin</th>
            <th>Ethereum</th>
            <th>Chainlink</th>
            <th>Bitcoin Cash</th>
            <th>Cardano</th>
            </thead>
            <tbody>
            <tr>
                <td>{{ cours.btc}}</td>
                <td>{{ cours.eth }}</td>
                <td>{{ cours.link }}</td>
                <td>{{ cours.bch }}</td>
                <td>{{ cours.ada }}</td>
            </tr>
            </tbody>
        </table>

        <h1 class="mt-4 mb-4">Liste de vos portefeuilles financiers </h1>
        <table id="admin" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <th>Nom du portefeuille</th>
            <th>Nom de la cryptomonnaie achetee</th>
            <th>Prix de la cryptomonnaie</th>
            <th>Quantite achetee</th>
            <th>Plus/moins values unitaire</th>
            </thead>
            <tbody>
            {% for repos in repo %}
                <tr>
                <td>{{ repos.nom}}</td>
                <td>{{ repos.produits }}</td>
                <td>{{ repos.prix }}</td>
                <td>{{ repos.quantite }}</td>
                    <td>
                        {% if repos.produits == 'Bitcoin'  %}
                            {% set foo = (cours.btc - repos.prix)*repos.quantite  %}
                            {{ foo }}
                        {% elseif repos.produits == 'Ethereum'%}
                            {% set foo = (cours.eth - repos.prix)*repos.quantite  %}
                            {{ foo }}
                        {% elseif repos.produits == 'Chainlink'%}
                            {% set foo = (cours.link-repos.prix)*repos.quantite  %}
                            {{ foo }}
                        {% elseif repos.produits == 'Bitcoin Cash'%}
                            {% set foo = (cours.bch - repos.prix)*repos.quantite  %}
                            {{ foo }}
                        {% elseif repos.produits == 'Cardano'%}
                            {% set foo = (cours.ada - repos.prix)*repos.quantite  %}
                            {{ foo }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>








{% endblock %}

